mixin mainnav(i)
  a#skippy.sr-only.sr-only-focusable(href='#content')
  div.navbar.navbar-default.navbar-static-top(role='navigation')
    .container
      .row
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            // span.icon-bar
            // span.icon-bar
            // span.icon-bar
            span.text MAIN MENU
        div#main-navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li(class=(!--i) && "active")
              a(href='index.html') Getting Started
            li(class=(!--i) && "active")
              a(href='css.html') CSS
            li(class=(!--i) && "active")
              a(href='components.html') Components
            li(class=(!--i) && "active")
              a(href='javascript.html') Javascript
            li(class=(!--i) && "active")
              a(href='fonts.html') Fonts
            li(class=(!--i) && "active")
              a(href='interior-example.html') Example
