doctype html
html(lang='en')
  head
    include _includes/meta.jade
    title Bootstrap 101 Template
    include _includes/scripts-and-styles.jade
  body
    include _includes/navbar-nav.jade
    mixin mainnav(2)
    header#region_header_ua.l-arizona-header.bg-red
      section.container.l-container
        .row
          a.arizona-logo(href='http://www.arizona.edu', title='The University of Arizona homepage')
            img.arizona-line-logo(alt='The University of Arizona Wordmark Line Logo White', src='https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg')
    .blog-masthead
    .container
      .row
        .col-xs-12
          #header_site
            #site_identifier
              a(href='#')
                img(src='http://kitten.ltrr.arizona.edu/profiles/ua_quickstart/themes/ua_zen/logo.png')
            // ++++++++++++++ Below Required Container #header_site ++++++++++++++
            #utility_links
              ul
                li
                  a(href='#') Utility Link 1
                li
                  a(href='#') Utility Link 2
                li
                  a(href='#') Utility Link 3
            #search
              form
                .form-item
                  input(title='Search', type='text', value='', size='15', maxlength='128')
                .form-actions
                  input#edit-submit.form-submit(type='submit', name='op', value='Search')
      .row
        .col-xs-12
          nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='#') Link
                  li.active
                    a(href='#')
                      | Link 
                      span.sr-only (current)
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | Dropdown 
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Action
                      li
                        a(href='#') Another action
                      li
                        a(href='#') Something else here
                      li.divider(role='separator')
                      li
                        a(href='#') Separated link
                      li.divider(role='separator')
                      li
                        a(href='#') One more separated link
                  li
                    a(href='#') Link
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='#') Link
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | Dropdown 
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Action
                      li
                        a(href='#') Another action
                      li
                        a(href='#') Something else here
                      li.divider(role='separator')
                      li
                        a(href='#') Separated link
              // /.navbar-collapse
            // /.container-fluid
      .blog-header
        h1 The Bootstrap Blog
        p.lead.blog-description The official example template of creating a blog with Bootstrap.
      .row
        .col-xs-12.col-md-8
          .blog-post
            h2.blog-post-title Sample blog post
            p.blog-post-meta
              | January 1, 2014 by 
              a(href='#') Wilbur
            p
              | This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
            hr
            p
              | Cum sociis natoque penatibus et magnis 
              a(href='#') dis parturient montes
              | , nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
            blockquote
              p
                | Curabitur blandit tempus porttitor. 
                strong Nullam quis risus eget urna mollis
                |  ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              | Etiam porta 
              em sem malesuada magna
              |  mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
            h2 Heading
            p
              | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            h3 Sub-Heading
            p
              | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            pre.
            p
              | Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
            h3 Sub-heading
            p
              | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            ul
              li Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
              li Donec id elit non mi porta gravida at eget metus.
              li Nulla vitae elit libero, a pharetra augue.
            p
              | Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.
            ol
              li Vestibulum id ligula porta felis euismod semper.
              li
                | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              li Maecenas sed diam eget risus varius blandit sit amet non magna.
            p
              | Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.
          // /.blog-post
          .blog-post
            h2.blog-post-title Another blog post
            p.blog-post-meta
              | December 23, 2013 by 
              a(href='#') Wilma
            p
              | Cum sociis natoque penatibus et magnis 
              a(href='#') dis parturient montes
              | , nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
            blockquote
              p
                | Curabitur blandit tempus porttitor. 
                strong Nullam quis risus eget urna mollis
                |  ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              | Etiam porta 
              em sem malesuada magna
              |  mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
            p
              | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          // /.blog-post
          .blog-post
            h2.blog-post-title Another blog post
            p.blog-post-meta
              | December 14, 2013 by 
              a(href='#') Wilbur
            p
              | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            ul
              li Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
              li Donec id elit non mi porta gravida at eget metus.
              li Nulla vitae elit libero, a pharetra augue.
            p
              | Etiam porta 
              em sem malesuada magna
              |  mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
            p
              | Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.
          // /.blog-post
          nav
            ul.pager
              li
                a(href='#')
                  span(aria-hidden='true') «
                  |  Previous
              li
                a(href='#')
                  | Next 
                  span(aria-hidden='true') »
        // /.blog-main
        .col-xs-3.col-xs-offset-1.blog-sidebar.hidden-xs
          .sidebar-module.sidebar-module-inset
            h4 About
            p
              | Etiam porta 
              em sem malesuada magna
              |  mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
          .sidebar-module
            h4 Archives
            ol.list-unstyled
              li
                a(href='#') March 2014
              li
                a(href='#') February 2014
              li
                a(href='#') January 2014
              li
                a(href='#') December 2013
              li
                a(href='#') November 2013
              li
                a(href='#') October 2013
              li
                a(href='#') September 2013
              li
                a(href='#') August 2013
              li
                a(href='#') July 2013
              li
                a(href='#') June 2013
              li
                a(href='#') May 2013
              li
                a(href='#') April 2013
          .sidebar-module
            h4 Elsewhere
            ol.list-unstyled
              li
                a(href='#') Github
              li
                a(href='#') Facebook
              li
                a(href='#') Twitter
        // /.blog-sidebar
      // end row
    // end container
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
