doctype
html(lang='en')
  head
    include _includes/meta.jade
    title UA Bootstrap - CSS
    include _includes/scripts-and-styles.jade
  body.css-page(data-spy='scroll', data-target='#catstrap-sidebar')
    include _includes/navbar-nav.jade
    mixin mainnav(2)
    .page-title
      .container
        .row
          .col-xs-12.col-md-8
            h1 CSS
            p Global CSS settings and fundamental HTML elements.
    .main-content
      .container
        .row
          .col-md-9
            include:marked _includes/css/grid.md
            include:marked _includes/css/typography.md
            include:marked _includes/css/tables.md
            include:marked _includes/css/forms.md
            include:marked _includes/css/buttons.md
          .col-md-3
            include:marked _includes/css/side-nav.md

    include:marked _includes/footer.md
    include _includes/footer-scripts.jade